* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-family: sans-serif;
}

.grid {
    display: inline-flex;
    flex-flow: column wrap;

    &#bot {
        margin: 0 30px 30px 0;
    }

    .row {
        display: flex;
        flex-flow: row wrap;
    }

    .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        margin-left: -1px;
        margin-top: -1px;
        user-select: none;

        &.locked {
            cursor: default;
            background-color: #f0f0f0;
            color: #999;
        }

        &[data-row="0"][data-col="-"] {
            visibility: hidden;
        }

        &:not(.locked) {
            cursor: pointer;

            &:hover {
                background-color: #f0f0f0;
            }

            &.available {
                background-color: rgba(0, 255, 0, 0.2);
            }

            &.unavailable {
                background-color: rgba(0, 0, 0, .2);
            }

            &.placing-boat {
                background-color: rgba(0, 0, 255, 0.2);
            }

            &.boat {
                background-color: #ffabab;
                // border-color: transparent;
            }
        }
    }
}
